<div class="card h-100">
    <a href="#">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="#">Item Two</a>
        </h4>
        <h5>$24.99</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur! Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="card-footer">
        <div class="form-inline">
            <div class="input-group">
                <span class="input-group-btn clickable">
                    <button class="btn btn-danger product-minus"><i class="fa fa-2x fa-minus-circle"></i></button>
                </span>
                <input class="form-control product-quantity" type="number" min="0" value="0" step="1">
                <span class="input-group-btn clickable">
                    <button class="btn btn-success product-plus"><i class="fa fa-2x fa-plus-circle"></i></button>
                </span>
                <span class="input-group-btn clickable">
                    <button class="btn btn-link product-add" data-toggle="modal" data-target="#modal-producto-agregado"><i class="fa fa-2x fa-cart-plus"></i></button>
                </span>
            </div>
        </div>
    </div>
</div>