<div class="card h-100">
    <a href="#">
        <img class="card-img-top" src="http://placehold.it/700x400" alt="">
    </a>
    <div class="card-body">
        <h4 class="card-title">
            <a href="#">Item Two</a>
        </h4>
        <h5>$24.99</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam
            aspernatur! Lorem ipsum dolor sit amet.</p>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-1 text-center">
                <i class="fa fa-minus-circle fa-2x clickable"></i>
            </div>
            <div class="col-5 text-center">
                <input class="form-control ml-3" type="number" min="0" value="0">
            </div>
            <div class="col-1 text-center">
                <i class="fa fa-plus-circle fa-2x clickable"></i>
            </div>
            <div class="col-1 text-center">
                <i class="fa fa-cart-plus fa-2x clickable ml-3"></i>
            </div>
        </div>
    </div>
</div>