<div class="col-12 col-md-6 col-lg-3 mb-4" v-for="producto in productosFiltrados">
    <div class="box-product">
        <div class="text-right" v-if="esta_autenticado">
            <button v-if="!producto.es_favorito" type="button" class="btn bg-transparent" @click="agregarFavorito(producto)">
                <i class="fa fa-2x fa-star-o"></i>
            </button>
            <button v-if="producto.es_favorito" type="button" class="btn bg-transparent" @click="eliminarFavorito(producto)">
                <i class="fa fa-2x fa-star"></i>
            </button>
        </div>
        <div class="img-wrapper">
            <a href="#" style="cursor: pointer;">
                <img v-bind:id="'product-image-index-' + producto.id" v-bind:alt="producto.nombre"
                     v-on:click="verDetalleCarrito(producto)" v-bind:src="producto.imagen"
                     class="img-responsive center-block product-preview">
            </a>

            <div class="option" style="cursor: pointer;" v-on:click="verDetalleCarrito(producto)">
                <a title="" data-original-title="Descripcion">
                    [[ producto.descripcion ]]
                </a>
            </div>
        </div>
        <h5>
            <a v-bind:id="'product-name-index-'+[[ producto.id ]]" class="link" style="cursor: pointer;"
               v-on:click="verDetalleCarrito(producto)">[[ producto.nombre ]]</a>
        </h5>
        <div class="price">
            <h6 v-bind:id="'product-price-index-'+producto.id">
                $[[ producto.precio_cop ]] [[ producto.unidad_medida ]]
            </h6>
        </div>




        <div class="input-group">
            <span class="input-group-btn clickable">
                <button v-on:click="disminuirCantidadCarrito(producto)" v-bind:disabled="producto.cantidad_carrito == 0" type="button" class="btn btn-danger">
                    <i class="fa fa-2x fa-minus-circle"></i>
                </button>
            </span>
            <input name="quantity" class="form-control" v-on:change="cambioCantidadCarrito" v-model="producto.cantidad_carrito" type="number" min="0" step="1"
                   pattern="\d*">
            <span class="input-group-btn clickable">
                <button v-on:click="incrementarCantidadCarrito(producto)" type="button" class="btn btn-success">
                    <i class="fa fa-2x fa-plus-circle"></i>
                </button>
            </span>
            <span class="input-group-btn clickable">
                <button v-on:click="agregarAlCarrito(producto)" class="btn btn-link add-to-cart" data-toggle="modal" v-bind:disabled="producto.cantidad_carrito < 1">
                    <i class="fa fa-2x fa-cart-plus"></i>
                </button>
            </span>
        </div>
        <div v-bind:id="'sectionPopUpDescripcion'+[[ producto.id ]]" class="sectionPopUpDescripcion">
            <div class="popUpDescripcionProducto container">
                <div class="headerPopUpDescripcion row">
                    <h5 v-bind:id="'product-name-popup-'+[[ producto.id ]]"
                        style="font-weight: bold;margin-top: 5px;margin-left: 30px;">[[ producto.nombre ]]</h5>
                    <a v-on:click="verDetalleCarrito(producto)"
                       class="cerrarPopUpDetalleProducto close-btn popup-close">x</a>
                </div>
                <div class="bodyPopUpDescripcion row">
                    <div class="sectionImage col-md-4 col-sm-6">
                        <img class="imagenDescripcionProducto" v-bind:src="[[ producto.imagen ]]">
                    </div>
                    <div class="contentPopUp col-md-8 col-sm-6">
                        <div class="list-group">
                            <a class="list-group-item list-group-item-action flex-column align-items-start"
                               style="padding: 5px 15px;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1" style="font-weight: bold;">Categoria</h6>
                                    <small></small>
                                </div>
                                <p class="mb-1">[[ producto.categoria.nombre ]]</p>
                                <small></small>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start"
                               style="padding: 5px 15px;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1" style="font-weight: bold;">Descripción</h6>
                                    <small></small>
                                </div>
                                <p v-bind:id="'description-popup-'+[[ producto.id ]]"
                                   class="mb-1">[[ producto.descripcion ]]</p>
                                <small></small>
                            </a>
                            <a class="list-group-item list-group-item-action flex-column align-items-start"
                               style="padding: 5px 15px;">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1" style="font-weight: bold;">Precio</h6>
                                    <small></small>
                                </div>
                                <p v-bind:id="'product-price-popup-'+[[ producto.id ]]" class="mb-1">
                                    $[[ producto.precio_cop ]] [[ producto.unidad_medida ]]</p>
                                <small></small>
                            </a>
                        </div>
                        <form method="post" action="{% url 'cliente:actualizar-carrito-compras' %}"
                              style="margin: 15px 0px; " class="form-inline">
                            {% csrf_token %}
                            <input type="hidden" name="product_id" v-bind:value="producto.id">
                            <div class="input-group">
                                <span class="input-group-btn clickable">
                                    <button v-on:click="disminuirCantidadCarrito(producto)" v-bind:disabled="producto.cantidad_carrito == 0" type="button" class="btn btn-danger">
                                        <i class="fa fa-2x fa-minus-circle"></i>
                                    </button>
                                </span>
                                <input name="quantity" class="form-control" v-on:change="cambioCantidadCarrito" v-model="producto.cantidad_carrito" type="number" min="0" step="1" pattern="\d*">
                                <span class="input-group-btn clickable">
                                    <button v-on:click="incrementarCantidadCarrito(producto)" type="button" class="btn btn-success">
                                        <i class="fa fa-2x fa-plus-circle"></i>
                                    </button>
                                </span>
                                <span class="input-group-btn clickable">
                                    <button class="btn btn-link add-to-cart" data-toggle="modal" v-bind:disabled="producto.cantidad_carrito < 1">
                                        <i class="fa fa-2x fa-cart-plus"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>