{% load marketplace_filters %}
<div class="mb-3" id="detalles-pedido">
    <table class="table table-responsive">
        <thead>
        <tr class="table-success">
            <th class="text-center">Producto</th>
            <th class="text-center cantidad">Cantidad</th>
            <th class="text-center">Precio unitario</th>
            <th class="text-center">Total</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr class="product-cart" v-for="cartItem in cart.items">
            <td>
                <div class="row">
                    <div class="col-lg-6 col-sm-12">
                        <div class="text-center">
                            <img :src="cartItem.image" class="img-fluid mx-auto">
                        </div>
                    </div>
                    <div class="col-lg-6 col-sm-6">
                        <h5>Producto [[ cartItem.name]]</h5>
                        <p>x [[ cartItem.unit ]]</p>
                    </div>
                </div>
            </td>
            <td>
                <div class="input-group">
                    <span class="input-group-btn clickable">
                        <button @click="disminuirCantidad(cartItem)" type="button" class="btn btn-danger"
                                :disabled="cartItem.quantity <= 1">
                            <i class="fa fa-2x fa-minus-circle"></i>
                        </button>
                    </span>
                    <input class="form-control product-quantity cart-details" type="number" min="1"
                           :value="cartItem.quantity" @change="cambioCantidad($event, cartItem)" step="1" pattern="\d*">
                    <input class="product-id" type="hidden" v-model="cartItem.product_id" :max="cartItem.cantidad_disponible" readonly disabled>
                    <span class="input-group-btn clickable">
                        <button @click="incrementarCantidad(cartItem)" type="button" class="btn btn-success" :disabled="cartItem.quantity >= cartItem.cantidad_disponible">
                            <i class="fa fa-2x fa-plus-circle"></i>
                        </button>
                    </span>
                </div>
            </td>
            <td class="text-center">
                <div class="mt-2">
                    <input class="unit-price" type="hidden" v-model="cartItem.price" readonly disabled>
                    $[[ toCop(cartItem.price) ]]
                </div>
            </td>
            <td class="text-center">
                <div class="mt-2">
                    $<span class="subtotal-producto">[[ toCop(cartItem.quantity * cartItem.price) ]]</span>
                </div>
            </td>
            <td>
                <button type="button" class="btn btn-link clickable" data-toggle="modal" data-keyboard="false"
                        :data-target="'#modal-eliminar-carrito-'+cartItem.product_id">
                    <i class="fa fa-2x fa-times-circle-o text-danger"></i>
                </button>

                <div :id="'modal-eliminar-carrito-'+cartItem.product_id" tabindex="-1" role="dialog"
                     aria-hidden="true" class="modal fade">
                    <div class="modal-dialog modal-sm" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h6 class="text-center">¿Desea eliminar este producto?</h6>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-6">
                                        <button @click="eliminarItem(cartItem)" type="submit"
                                                class="btn btn-danger btn-block clickable">Eliminar
                                        </button>
                                    </div>
                                    <div class="col-6">
                                        <button type="button" class="btn btn-secondary btn-block clickable"
                                                data-dismiss="modal">Cancelar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3">
                <h5 class="text-right">Total a pagar</h5>
            </td>
            <td colspan="2">
                $[[ getTotal() ]]
            </td>
        </tr>
        </tfoot>

    </table>
</div>