{% load marketplace_filters %}
<div class="mb-3" id="detalles-compra">
    <table class="table table-responsive" >
        <thead>
            <tr class="table-success">
                <th class="text-center">Producto</th>
                <th class="text-center cantidad">Cantidad</th>
                <th class="text-center">Precio unitario</th>
                <th class="text-center">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for cart_item in request.session.cart.items %}
                <tr class="product-cart">
                    <td>
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="text-center">
                                    <img src="https://placehold.it/200x200" class="img-fluid mx-auto">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <h5>Producto {{ cart_item.product_id }}</h5>
                                <p>x Kg</p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-btn clickable">
                                <button type="button" class="btn btn-danger product-minus">
                                    <i class="fa fa-2x fa-minus-circle"></i>
                                </button>
                            </span>
                            <input name="quantity" class="form-control product-quantity cart-details" type="number" min="1" value="{{ cart_item.quantity }}" step="1" pattern="\d*">
                            <span class="input-group-btn clickable">
                                <button type="button" class="btn btn-success product-plus">
                                    <i class="fa fa-2x fa-plus-circle"></i>
                                </button>
                            </span>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="mt-2">
                            <input class="unit-price" type="hidden" value="200000" readonly disabled>
                            $200.000
                        </div>
                    </td>
                    <td class="text-center">
                        <div class="mt-2">
                            $<span class="subtotal-producto">{{ cart_item.quantity|multiply_cop:200000 }}</span>
                        </div>
                    </td>
                    <td>
                        <button class="btn btn-link clickable" data-toggle="modal" data-keyboard="false" data-target="#modal-eliminar-carrito-{{ cart_item.product_id }}">
                            <i class="fa fa-2x fa-times-circle-o text-danger"></i>
                        </button>
                        <div class="modal fade" id="modal-eliminar-carrito-{{ cart_item.product_id }}" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-sm" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="text-center">¿Desea eliminar este producto?</h6>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-6">
                                                <form action="{% url 'cliente:eliminar-producto-carrito' %}" method="post">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="product-id" value="{{ cart_item.product_id }}">
                                                    <button type="submit" class="btn btn-danger btn-block clickable">Eliminar</button>
                                                </form>
                                            </div>
                                            <div class="col-6">
                                                <button type="button" class="btn btn-secondary btn-block clickable" data-dismiss="modal">Cancelar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">
                    <h5 class="text-right">Total a pagar</h5>
                </td>
                <td colspan="2">
                    $<span id="total-a-pagar"></span>
                </td>
            </tr>
        </tfoot>

    </table>
</div>