<div id="formulario-informacion-pago">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                Nombre completo
            </span>
            <input name="nombre-completo" type="text" class="form-control" placeholder="Nombre completo*" required>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-credit-card-alt mr-2" aria-hidden="true"></i>
                Tipo de documento
            </span>
            <select name="tipo-documento" class="form-control" required>
                <option selected>Cédula de ciudadanía</option>
                <option>Cédula de extranjería</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-credit-card mr-2" aria-hidden="true"></i>
                Número de documento
            </span>
            <input name="numero-documento" type="text" class="form-control" placeholder="Número de documento *" required>
        </div>
    </div>
</div>