<div id="formulario-informacion-pago">
    <div class="form-group">
        <div id="nombre-completo-error"></div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-user mr-2" aria-hidden="true"></i>
                Nombre completo
            </span>
            <input v-model="pago.nombre_completo" name="nombre-completo" type="text" class="form-control" placeholder="Nombre completo*" data-error="#nombre-completo-error" required>
        </div>
    </div>
    <div class="form-group">
        <div id="tipo-documento-error"></div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-credit-card-alt mr-2" aria-hidden="true"></i>
                Tipo de documento
            </span>
            <select v-model="pago.tipo_documento" name="tipo-documento" class="form-control" data-error="#tipo-documento-error" required>
                <option value="CC">Cédula de Ciudadanía</option>
                <option value="PA">Pasaporte</option>
                <option value="CE">Cédula de Extranjería</option>
                <option value="RC">Registro Civil</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <div id="numero-documento-error"></div>
        <div class="input-group">
            <span class="input-group-addon">
                <i class="fa fa-credit-card mr-2" aria-hidden="true"></i>
                Número de documento
            </span>
            <input v-model="pago.numero_documento" name="numero-documento" type="text" class="form-control" data-error="#numero-documento-error" placeholder="Número de documento *"
                   required>
        </div>
    </div>
</div>