{% extends 'Productor/_common/general-base.html' %}
{% load static %}
{% block page %}

    {% include 'Productor/_common/sidebar.html' %}

    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            {% include 'Productor/_common/navigation.html' %}
        </header>

        <main>
            {% include 'MarketPlace/_common/_messages.html' %}
            {% block main %}
            {% endblock %}
        </main>

        <footer class="main-footer">
            {% include 'Productor/_common/footer.html' %}
        </footer>
    </div>

    <script type="text/javascript" src="{% static 'MarketPlace/scripts.js' %}"></script>
    {% block scripts %}
    {% endblock %}

{% endblock %}

