boto==2.48.0
botocore==1.7.28
dj-database-url==0.4.2
Django==1.11.5
django-cors-headers==2.1.0
django-storages==1.6.5
docutils==0.14
futures==3.1.1
gunicorn==19.7.1
jmespath==0.9.3
olefile==0.44
Pillow==4.2.1
psycopg2==2.7.3.1
python-dateutil==2.6.1
pytz==2017.2
s3transfer==0.1.11
selenium==3.6.0
six==1.11.0
whitenoise==3.3.0
Cython==0.27.1
numpy==1.13.3