{% extends 'MarketPlace/_common/base.html' %}
{% load app_filters %}
{% block main %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <form method="post" class="my-3" action="{% url 'cliente:registrar-cliente' %}">
                        <h2 class="text-center mb-3">Registrate en Green Market</h2>
                        {% csrf_token %}
                        <h5 class="my-3">Ingresa tus datos personales</h5>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user mr-2" aria-hidden="true"></i>
                                            Nombre
                                        </span>
                                        <input type="text" class="form-control" placeholder="Nombre" name="nombre">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-user mr-2" aria-hidden="true"></i>
                                            Apellido
                                        </span>
                                        <input type="text" class="form-control" placeholder="Apellido" name="apellido">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-building mr-2" aria-hidden="true"></i>
                                            Ciudad
                                        </span>
                                        <select class="form-control" name="ciudad">
                                            <option value="1">Bogota</option>
                                            <option value="2">Tunja</option>
                                            <option value="3">Bucaramanga</option>
                                            <option value="4">Cartagena</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-map-marker mr-2" aria-hidden="true"></i>
                                            Departamento
                                        </span>
                                        <select class="form-control" name="departamento">
                                            <option value="1">Cundinamarca</option>
                                            <option value="2">Boyaca</option>
                                            <option value="3">Santander</option>
                                            <option value="4">Bolívar</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-credit-card mr-2" aria-hidden="true"></i>
                                            Tipo de identificación
                                        </span>
                                        <select class="form-control" name="tipo_identificacion">
                                            <option value="CC">Cédula de Ciudadanía</option>
                                            <option value="PA">Pasaporte</option>
                                            <option value="CE">Cédula de Extranjería</option>
                                            <option value="RC">Registro Civil</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-credit-card-alt mr-2" aria-hidden="true"></i>
                                            Número de identificación
                                        </span>
                                        <input type="text" class="form-control" placeholder="Numero De Identificacion" name="numero_identificacion">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone mr-2" aria-hidden="true"></i>
                                            Teléfono
                                        </span>
                                        <input type="tel" class="form-control" placeholder="Telefono" name="telefono_contacto">
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-home mr-2" aria-hidden="true"></i>
                                            Dirección
                                        </span>
                                        <input type="text" class="form-control" placeholder="Direccion" name="direccion">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h5 class="my-3">Ingresa los siguientes datos para poder acceder a Green Market</h5>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-at mr-2" aria-hidden="true"></i>
                                            E-mail
                                        </span>
                                        <input type="email" class="form-control {% if 'correo' in form.errors %}is-invalid{% endif %}" placeholder="Correo" name="correo">
                                        {% if 'correo' in form.errors %}
                                            <div class="invalid-feedback ml-3">
                                                {{ form.errors|get_error:'correo' }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>

                            </div>

                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock mr-2" aria-hidden="true"></i>
                                            Contraseña
                                        </span>
                                        <input type="password" class="form-control" placeholder="Contraseña" name="contrasena">
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6">
                                <div class="form-group">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-lock mr-2" aria-hidden="true"></i>
                                            Repetir contraseña
                                        </span>
                                         <input type="password" class="form-control {% if 'contrasena2' in form.errors %}is-invalid{% endif %}" placeholder="Repetir Contraseña" name="contrasena2">
                                        {% if 'contrasena2' in form.errors %}
                                            <div class="invalid-feedback ml-3">
                                                {{ form.errors|get_error:'contrasena2' }}
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Registrarse</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </section>
{% endblock %}