{% block main %}
    <section>
        <div class="container-fluid" style="margin-top: 10px">
             <table id="pedidosTable" class="table dataTable" cellspacing="2" width="100%" border="1"
                           align="center">
                        <thead>
                        <br/>
                        <th colspan="6" bgcolor="#228b22" class="text-white text-center">Clientes Mas Rentables</th>
                        <tr bgcolor="#deb887">
                            <th class="text-center">Nombre Provedor</th>
                            <th class="text-center">Productos Ofertados</th>
                            <th class="text-center">Detalle</th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
        </div>
    </section>
{% endblock %}