{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section >
        <div class="container-fluid" style="margin-top: 10px">
            <h1 class="text-center"> Informes Green Market </h1>
             <select class="form-control" id="tipo_informe" onchange="cargar_informe()">
                 <option value="0">Seleccione un tipo de informe</option>
                 <option value="1">Clientes Más Rentables</option>
                 <option value="2">Mejores Productos</option>
                 <option value="3">Ver inventarios</option>
                 <option value="4">Mejores Productores</option>
             </select>
            <main id="informe">
            </main>
        </div>
    <script>
        function cargar_informe(){
                            var x = document.getElementById("tipo_informe").value;
                            if(x === "1"){
                             $.get('{% url 'administrador:informes/clientes-mas-rentables' %}', function(data, status){
                               $('#informe').html(data)
                                });
                            }
                            else if(x === "2") {
                             $.get('{% url 'administrador:informes/seleccionSemanas' %}', function(data, status){
                               $('#informe').html(data)
                                });
                            }
                            else if(x === "3") {
                             $.get('{% url 'administrador:informes/inventario' %}', function(data, status){
                               $('#informe').html(data)
                                });
                            }
                            else if(x === "4") {
                             $.get('{% url 'administrador:informes/mejores-productores' %}', function(data, status){
                               $('#informe').html(data)
                                });
                            }
                        }
    </script>
    </section>
{% endblock %}