{% block main %}
    <section>
        <div class="container-fluid" style="margin-top: 10px" align="center">
             <table id="tb_inventario" class="table table-responsive" cellspacing="2"
                    border="1"
                    align="center">
                <thead>
                    <tr>
                        <th class="text-white text-center" bgcolor="#228b22" colspan="6">Inventario semana</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </section>
{% endblock %}
