{% block main %}
    <section>
        <div class="container-fluid" style="margin-top: 10px" align="center">
        <br>
            <form method="post" action="{% url 'administrador:informes/obtener_mejores_productos' %}">
                {% csrf_token %}
                <div class="col-md-7 colu">
                    <h2>Seleccione una o mas semanas  de las cuales desea ver los mejores productos</h2>
                    {% for semana in semanas %}
                    <div class="funkyradio">
                        <div class="funkyradio-success">
                            <input id="{{ semana.id }}" name="semana" type="checkbox" value="{{ semana.id }}"/>
                            <label for="{{ semana.id }}" class="label-primary">Semana {{ semana.id }} del {{ semana.fecha_inicio }} al {{ semana.fecha_fin }} </label>
                        </div>
                    </div>
                    {% endfor %}
                <input type="submit" class="btn btn-primary" value="Buscar"/>
                </div>
            </form>
        </div>
    </section>
{% endblock %}