{% extends 'Administrador/_common/general-base.html' %}
{% block page %}

    {% include 'Administrador/_common/sidebar.html' %}

    <div class="page home-page">
        <!-- navbar-->
        <header class="header">
            {% include 'Administrador/_common/navigation.html' %}
        </header>

        <main>
            {% include 'MarketPlace/_common/_messages.html' %}
            {% block main %}
            {% endblock %}
        </main>

        <footer class="main-footer">
            {% include 'Administrador/_common/footer.html' %}
        </footer>
    </div>

{% endblock %}
