<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <img src="https://placehold.it/400x200" alt="person" class="img-fluid">
            </div>
            <div class="sidenav-header-logo">
                <a href="#" class="brand-small text-center">
                    <strong>G</strong><strong class="text-primary">M</strong>
                </a>
            </div>
        </div>
        <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
                <li class="active">
                    <a href="#">
                        <i class="icon-home"></i> <span>Home</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>