{% load static %}
<nav class="side-navbar">
    <div class="side-navbar-wrapper">
        <div class="sidenav-header d-flex align-items-center justify-content-center">
            <div class="sidenav-header-inner text-center">
                <img src="{% static 'Administrador/logo.png' %}" alt="person" class="img-fluid">
            </div>
            <div class="sidenav-header-logo">
                <a href="{% url 'administrador:index' %}" class="brand-small text-center">
                    <strong>G</strong><strong class="text-primary">M</strong>
                </a>
            </div>
        </div>
        <div class="main-menu">
            <ul id="side-main-menu" class="side-menu list-unstyled">
                {% url 'administrador:index' as url_index %}
                <li {% if request.path == url_index %}class="active"{% endif %}>
                    <a href="{{ url_index }}">
                        <i class="icon-home"></i> <span>Home</span>
                    </a>
                </li>
                {% url 'administrador:catalogo' as url_catalogo %}
                <li {% if request.path == url_catalogo %}class="active"{% endif %}>
                    <a href="{{ url_catalogo }}">
                        <i class="icon-padnote"></i> <span>Catálogo</span>
                    </a>
                </li>
                {% url 'administrador:canastas' as url_canastas %}
                <li {% if request.path == url_canastas %}class="active"{% endif %}>
                    <a href="{{ url_canastas }}">
                        <i class="fa fa-shopping-basket"></i> <span>Canastas</span>
                    </a>
                </li>
                {% url 'administrador:pedidos' as url_pedidos %}
                <li {% if request.path == url_pedidos %}class="active"{% endif %}>
                    <a href="{% url 'administrador:pedidos' %}">
                        <i class="icon-list"></i> <span>Pedidos</span>
                    </a>
                </li>
                {% url 'administrador:ofertas' as url_ofertas %}
                <li {% if request.path == url_ofertas %}class="active"{% endif %}>
                    <a href="{% url 'administrador:ofertas' %}">
                        <i class="fa fa-apple"></i> <span>Ofertas</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>