{% extends 'Administrador/_common/base.html' %}
{% load static %}
{% load app_filters %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="text-center">Catálogo</h1>
                        <h2>{{ subtitulo }}</h2>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row">
                <table class="table table-responsive">
                    <thead>
                    <tr>
                       <th class="text-white text-center" bgcolor="#228b22" colspan="6">
                        Catálogo
                       </th>
                    </tr>
                    <tr bgcolor="#dbeb887">
                        <th class="text-center">Imagen</th>
                        <th class="text-center">Producto</th>
                        {% if oferta_nueva %}
                            <th class="text-center">Cantidad</th>
                            <th class="text-center">Precios productores</th>
                        {% endif %}
                        <th class="text-center" colspan="2">Precio/Unidad</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in ofertas_pro %}
                        <tr>
                            <td>
                                <img src="https://s3.amazonaws.com/green-market/{{ item.fk_producto__imagen }}"
                                     alt="Imagen {{ item.fk_producto__nombre }}" class="img-responsive center-block"
                                     style="max-height: 200px; max-width: 200px">
                            </td>
                            <td>{{ item.fk_producto__nombre }}</td>
                            {% if oferta_nueva %}
                                <td>{{ item.canAceptada }}</td>
                                <td>{{ item.preMin }} - {{ item.preMax }}</td>
                                <td>
                                    <input type="number" id="precio_{{ item.fk_producto }}" class="form-control precio">
                                </td>
                            {% else %}
                                <td>
                                    <input type="text" id="precio_{{ item.fk_producto }}" class="form-control precio" value="{{ item.precio }}" readonly>
                                </td>
                            {% endif %}
                            <td>
                                /{{ item.fk_producto__unidad_medida }}
                            </td>

                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="row">
                {% if oferta_nueva %}
                    <form id="fcatalogo"  method="post">
                        {% csrf_token %}
                        <input id="precios_enviar" type="hidden" name="precios_enviar">
                        <button class="btn btn-primary" type="submit">Publicar catálogo</button>
                    </form>
                {% else %}
                    <a href="{% url 'administrador:index' %}" class="btn btn-danger">Cancelar</a>
                {% endif %}

            </div>
        </div>
         <!-- Modales -->
        <!-- Modal a mostar en caso de que no se encuentren semanas en el sistema.-->
        {% if ofertas_pro|get_len == 0 %}
            {% include 'Administrador/_elements/_modal_mensaje.html' with titulo='Catálogo' mensaje=subtitulo url_ir='/administrador/catalogo'%}
        {% endif %}
    </section>
{% endblock %}

{% block scripts %}
    <script src="{% static 'Administrador/catalogo/catalogo.js' %}"></script>
    <script src="{% static 'Administrador/general/modal_mensaje.js' %}"></script>
{% endblock %}