{% extends 'Administrador/_common/base.html' %}
{% load static %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="text-center">Clientes</h1>
                        <h2>{{ subtitulo }}</h2>
                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="container-fluid" style="width: 80%">
                <table class="table table-responsive" border="1">
                    <thead>
                    <tr>
                       <th class="text-white text-center" bgcolor="#228b22" colspan="6">
                        Clientes
                       </th>
                    </tr>
                    <tr bgcolor="#dbeb887">
                        <th class="text-center">Cliente ID</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Correo</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in clientes %}
                        <tr>
                            <td class="text-center">
                                {{ item.id }}
                            </td>
                            <td>
                                {{ item.fk_django_user.first_name }} {{ item.fk_django_user.last_name }}
                            </td>
                            <td>
                                {{ item.fk_django_user.email }}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'administrador:perfil_cliente' item.id %}" class="btn btn-info">Ver Perfil</a>
                                <a href="{% url 'administrador:historial-cliente' item.id %}" class="btn btn-primary">Ver Historial</a>
                            </td>
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
