{% extends 'Administrador/_common/base.html' %}
{% load static %}
{% block main %}
    <section>

        <div id="sectionAgregarProductor" class="container row">
            <div class="col-md-2 col-sm-1"></div>
            <div id="AgregarProductor" class="col-md-8 col-sm-11 row">
                <div id="headerPopUp" class="col-md-12">
                    <h2>Agregar un nuevo Productor</h2>
                </div>

                <div id="seccionDepartamento" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Departamento</strong>
                    <select class="col-md-6 col-sm-12 form-control" id="selectDepartamento">
                    </select>
                </div>

                <div id="seccionCiudad" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Ciudad</strong>
                    <select class="col-md-6 col-sm-12 form-control" id="selectCiudad">
                    </select>
                </div>

                <div id="seccionCooperativa" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Cooperativa</strong>
                    <select class="col-md-6 col-sm-12 form-control" id="selectCooperativa">
                    </select>
                </div>

                <div id="seccionNombre" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Nombre</strong>
                    <input type="text" id="inputNombre" class="col-md-6 col-sm-12 form-control">
                </div>

                <div id="seccionDireccion" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Dirección</strong>
                    <input type="text" id="inputDireccion" class="col-md-6 col-sm-12 form-control">
                </div>

                <div id="seccionDescripcionProductor" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Descripción del Productor</strong>
                    <textarea id="inputDescripcionProductor" class="col-md-6 col-sm-12 form-control" rows="4">
                    </textarea>
                </div>

                <div id="seccionSeleccionarUbicacion" class="col-md-12 row secciones">
                    <strong class="col-md-6 col-sm-12">Defina la ubicación de la finca del productor</strong>
                    <div class="col-md-6 col-sm-12 row" style="margin-left: 0px;margin-right: 0px;">
                        <button onclick="verMapa();" class="col-md-6 col-sm-12 btn btn-success" type="button">Mapa</button>
                        <p id="coordenadasMapa" class="col-md-6" style="line-height: 45px; margin-bottom: 0px !important;">
                        </p>
                    </div>
                </div>

                <div id="seccionAgregarProductor" class="col-md-12 row secciones" style="margin-top: 40px;">
                    <div class="col-md-3 col-sm-1"></div>
                    <button type="button" class="col-md-6 col-sm-11 btn btn-primary">Agregar Productor</button>
                    <div class="col-md-3 col-sm-1"></div>
                </div>
            </div>
            <div class="col-md-2 col-sm-1"></div>
        </div>
        <div id="sectionMapa">
            <div class="popUpMapa container">
                <div class="headerPopUpDescripcion row">
                    <h3 id="" class="col-md-12" style="font-weight: bold;margin-top: 5px; text-align: center;">
                        Selecciona la ubicación de la finca en el mapa.
                    </h3>
                    <a id="cerrarPopUpDetalleProducto" class="close-btn popup-close">x</a>
                </div>
                <div class="bodyPopUpDescripcion col-md-12 row" style="margin-left: 0; margin-right: 0;">
                    <div id="mapa">
                    </div>
                    <button type="button" onclick="seleccionarUbicacion();" class="btn btn-primary" style="position: absolute; top: 5px; left: 21px;">Seleccionar Ubicación</button>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
{% block scripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW8AoH_Jh_QtuL0d-BC0RUAIMckKEZYiM"
    async defer></script>
    <script src="{% static 'Administrador/productores/js/productores.js' %}"></script>
{% endblock %}
{% block styles %}
    <link href="{% static 'Administrador/styles.css' %}" rel="stylesheet">
{% endblock %}