{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section>
        <div class="container-fluid" style="margin-top: 10px">
            <h1 class="text-center"> Productos Ofertados </h1>
            {% if guardado_exitoso == '1' %}
            <div class="alert alert-success" id="success-alert">
            <button type="button" class="close" data-dismiss="alert">x</button>
            La oferta ha sido guardada satisfactoriamente !
             </div>
           {% endif %}
            <br/>
                <br>
                <div class="container-fluid" style="height: 350px;overflow: auto">
                    <table id="pedidosTable" class="table dataTable" cellspacing="2" width="100%" border="1"
                           align="center">
                        <thead>
                        <br/>
                        <th colspan="7" bgcolor="#228b22" class="text-white text-center">Ofertas</th>
                        <tr bgcolor="#deb887">
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Cantidad Disponible</th>
                            <th class="text-center">Precio/Unidad</th>
                            <th class="text-center">Cantidad Aceptada</th>
                            <th class="text-center">Aprobar</th>
                            <th class="text-center">Guardar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for producto in ofertas_producto %}
                            <form method="post" action="{% url 'administrador:terminar-oferta' %}">
                                            {% csrf_token %}
                            <tr>
                                <td class="text-center">
                                    <img src="{{ producto.0.imagen.url }}" style="width:100px;height:100px;">
                                </td>
                                <td class="text-center">
                                    {{ producto.1 }}
                                </td>
                                <td class="text-center">
                                    {{ producto.2 }}
                                </td>
                                <td class="text-center">
                                    {{ producto.3 }} / {{ producto.6 }}
                                </td>
                                <td class="text-center">
                                    <input type="number" name="cantidad_aceptada" min="0" max="{{ producto.2 }}" value="{{ producto.4 }}">
                                </td>
                                 <td>
                                     {% if producto.5  == 0 %}
                                         <input type="radio" name="aprobar" value="1"> Aceptar<br>
                                         <input type="radio" name="aprobar" value="0" checked> Rechazar<br>
                                         {% else %}
                                          <input type="radio" name="aprobar" value="1" checked> Aceptar<br>
                                          <input type="radio" name="aprobar" value="0"> Rechazar<br>
                                     {% endif %}
                                </td>
                                <td class="text-center">
                                    <input type="hidden" name="id_oferta_producto" value="{{ producto.7 }}">
                                     <input type="hidden" name="id_oferta" value="{{ id_oferta }}">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                </td>
                            </tr>
                            </form>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
        </div>
    </section>
{% endblock %}