{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section>
        <div class="container-fluid" style="margin-top: 10px">
            <h1 class="text-center"> Productos Ofertados </h1>
            <br/>
            <form method="post" action="{% url 'administrador:ofertas' %}">
                {% csrf_token %}
                <br>
                <div class="container-fluid">
                    <table id="pedidosTable" class="table dataTable" cellspacing="2" width="100%" border="1"
                           align="center">
                        <thead>
                        <br/>
                        <th colspan="6" bgcolor="#228b22" class="text-white text-center">Ofertas</th>
                        <tr bgcolor="#deb887">
                            <th class="text-center">Imagen</th>
                            <th class="text-center">Producto</th>
                            <th class="text-center">Cantidad Disponible</th>
                            <th class="text-center">Precio/Unidad</th>
                            <th class="text-center">Cantidad Aceptada</th>
                            <th class="text-center">Aprobar</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for producto in ofertas_producto %}
                            <tr>
                                <td class="text-center">
                                    {{ producto.0 }}
                                </td>
                                <td class="text-center">
                                    {{ producto.1 }}
                                </td>
                                <td class="text-center">
                                    {{ producto.2 }}
                                </td>
                                <td class="text-center">
                                    {{ producto.3 }}
                                </td>
                                <td class="text-center">
                                    {{ producto.4 }}
                                </td>
                                 <td class="text-center">
                                    {{ producto.5 }}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </section>
{% endblock %}