{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <br>
                    <br>
                    <br>
                    <h1 class="text-center"> Priductos por Pagar </h1>
                    <br/>
                    <div class="container-fluid">
                        <table id="detallePedidoTable" class="table dataTable" cellspacing="2"
                               width="100%"
                               border="1" align="center">
                            <thead>
                            <th colspan="6" bgcolor="#228b22" class="text-white text-center">Detelle Pedido</th>
                            <tr bgcolor="#deb887">
                                <th class="text-center">Imagen del producto</th>
                                <th class="text-center">Descripcion del producto</th>
                                <th class="text-center">Cantidad Vendida</th>
                                <th class="text-center">Unidad de medida</th>
                                <th class="text-center">Valor Total</th>
                                <th class="text-center">Pagar</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for oferta in ofertas_por_pagar %}
                                <form method="post" action="{% url 'administrador:actualizar-estado-pedido' %}">
                                    {% csrf_token %}
                                    <tr>
                                        <td>
                                            <img src="{{ oferta.fk_producto.imagen.url }}"
                                                 style="width:100px;height:100px;">
                                        </td>
                                        <td class="text-center">{{ oferta.fk_producto.nombre }}</td>
                                        <td class="text-center">{{ oferta.cantidad_vendida }}</td>
                                        <td class="text-center">{{ oferta.fk_producto.unidad_medida }}</td>
                                        <td>
                                            <input type="radio" name="pagar" value="1" checked> Pagar<br>
                                            <input type="radio" name="pagar" value="0"> Rechazar<br>
                                        </td>
                                    </tr>
                                </form>
                            {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <input {{ disable_button }} type="submit" class="btn btn-primary"
                                                    value="Listo para enviar"/>
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}