{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section>
        {% if compra %}
            <div id="myModal" class="modal fade bootstrap-dialog type-warning in">
                <div class="modal-dialog type-danger modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Green Market</h4>
                        </div>
                        <div id="detalles-pedido" class="collapse show" role="tabpanel"
                             data-parent="#proceso-checkout">
                            <div class="card-body">
                                {% include 'Cliente/_elements/_pago-Exitoso.html' %}
                            </div>
                        </div>
                        <div class="modal-body">

                            <p>
                            <h3 class="text-center">Tu compra fue Exitosa</h3></p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="container-fluid" style="margin-top: 10px">
            <h1 class="text-center"> Historial Cliente: {{cliente.fk_django_user.first_name}} </h1>
            <br>
            <br>
            <div class="container-fluid">
                <table id="misPedidosTableEntregados" class="table dataTable" cellspacing="2" width="100%"
                       border="1"
                       align="center">
                    <thead>
                        <tr>
                            <th colspan="6" bgcolor="#228b22" class="text-white text-center">Pedidos</th>
                        </tr>
                        <tr bgcolor="#deb887">
                            <th class="text-center">Código Pedido</th>
                            <th class="text-center">Valor</th>
                            <th class="text-center">Fecha Pedido</th>
                            <th class="text-center">Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for pedido in pedidos %}
                        <tr>
                            <td class="text-center">
                                {{ pedido.id }}
                            </td>
                            <td>
                                {{ pedido.valor_total }}
                            </td>
                            <td class="text-center">
                                {{ pedido.fecha_pedido }}
                            </td>
                            <td class="text-center">
                                <a href="{% url 'administrador:index' %}" class="btn btn-primary">Ver</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}