{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="col-12">
                <h1>Bienvenido Administrador!</h1>
                <br>
                <h2>Recuerde:</h2>

                <ul>
                    <li>
                        Que la información mostrada en las diferentes funcionalidades<br>
                        son con respecto a la cooperativa seleccionada en la parte superior.
                    </li>
                    <li>
                        Si lo desea, puede cambiar la cooperativa desde cualquiera de las pantallas<br>
                        haciendo clic sobre la cooperativa actual y luego seleccionando la que desee.
                    </li>
                    <li>
                        Para el listado  o informes de clientes  y la funcionalidad<br>
                        de crear o listar cooperativas no se tiene en cuenta la cooperativa seleccionada.
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}