{% extends 'Administrador/_common/base.html' %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="col-12">
                <h1>Bienvenido Administrador!</h1>
                <br>
                <h2>Recuerde:</h2>

                <ul>
                    <li>
                        Que la información mostrada en las diferentes funcionlidades<br>
                        son con respecto a la cooperativa seleccionada en la parte superior.
                    </li>
                    <li>
                        Si lo desea puede cambiar la cooperativa desde cualquiera de las pantallas<br>
                        haciendo clic sobre la cooperativa y seleccionando la que desee.
                    </li>
                    <li>
                        Para el listado de Clientes o informes relacionados con clientes no se tiene<br>
                        en cuenta la cooperativa seleccionada.
                    </li>
                </ul>
            </div>
        </div>
    </section>
{% endblock %}