{% extends 'Administrador/_common/base.html' %}
{% load static %}
{% block main %}
    <section>

        <div class="container-fluid" style="margin-top: 10px">

            <h1 class="text-center"> Perfil Cliente: {{cliente.fk_django_user.first_name}} {{ cliente.fk_django_user.last_name }}</h1>
            <br>
            <br>
           <div class="row justify-content-md-center">
               <div class="col-md-auto">
                    <table id="perfilCliente" class="table table-responsive" cellspacing="2"
                           border="1"
                           align="center">
                        <thead>
                            <tr>
                               <th class="text-white text-center" bgcolor="#228b22" colspan="6">
                                Perfil Cliente
                               </th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="text-right encabezado">
                                Nombre:
                            </td>
                            <td class="text-left">
                                {{cliente.fk_django_user.first_name}} {{ cliente.fk_django_user.last_name }}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right encabezado">
                                Identificación:
                            </td>
                            <td class="text-left">
                                {{cliente.numero_identificacion}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right encabezado">
                                Correo:
                            </td>
                            <td class="text-left">
                                {{cliente.fk_django_user.email}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right encabezado">
                                Teléfono:
                            </td>
                            <td class="text-left">
                                {{cliente.telefono_contacto}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right encabezado">
                                Ciudad/Departamento:
                            </td>
                            <td class="text-left">
                                {{cliente.get_ciudad_display}}/{{cliente.get_departamento_display}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right encabezado">
                                Dirección:
                            </td>
                            <td class="text-left">
                                {{cliente.direccion}}
                            </td>
                        </tr>
                        <tr>
                            <td class="text-right encabezado">
                                Información Adicional:
                            </td>
                            <td class="text-left">

                            </td>
                        </tr>
                        </tbody>
                    </table>
                   <a href="{% url 'administrador:clientes'%}" class="btn btn-primary">Volver a clientes</a>
               </div>
            </div>

        </div>

    </section>
{% endblock %}
{% block styles %}
    <link href="{% static 'Administrador/styles.css' %}" rel="stylesheet">

{% endblock %}