{% extends 'Administrador/_common/base.html' %}
{% load static %}
{% load marketplace_filters %}
{% block main %}
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <br>
                    <br>
                    <h1 class="text-center"> Productos Sugeridos De La Semana</h1>
                    <br/>
                    <br>
                    <div class="col-12">
                        <form method="get" id="form-sugerir-producto"
                              action="{% url 'administrador:modificar-productos-sugeridos' %}">
                            {% csrf_token %}
                            <div class="form-group row">
                                <div class="col-12 text-right">
                                    <button id="sugerirProductos" class="btn btn-success">
                                        <i class="fa fa-save"></i>
                                        Modificar Productos Sugeridos
                                    </button>

                                </div>
                                </div>
                        </form>


                        <div class="container-fluid" id="orden-Pago-detalle">
                            <table id="SugerirProductoTable" class="table dataTable" cellspacing="2"
                                   width="100%"
                                   border="1" align="center">
                                <thead>
                                <th colspan="6" bgcolor="#228b22" class="text-white text-center">
                                    Prductos Sugeridos durante la semana
                                </th>
                                <tr bgcolor="#deb887">
                                    <th class="text-center">Imagen del producto</th>
                                    <th class="text-center">Nombre</th>
                                    <th class="text-center">Unidad de medida</th>
                                    <th class="text-center">Cantidad Vendida</th>
                                    <th class="text-center">Usuarios Sugeridos</th>
                                </tr>
                                </thead>
                                <tbody>
                                <input class="productor-id" type="hidden" value="{{ productor.id }}" readonly
                                       disabled></td>
                                {% for producto_sugerido in productos_sugeridos %}
                                    <tr class="sugerir-producto-tr">
                                    <td>
                                        <img src="{{ producto_sugerido.imagen.url }}"
                                             style="width:100px;height:100px;">
                                    </td>
                                    <td class="text-center">{{ producto_sugerido.nombre }}
                                    <td class="text-center">{{ producto_sugerido.unidad_medida }}</td>
                                    <td class="text-center">{{ producto_sugerido.cantidad }}</td>
                                    <td class="text-center">
                                    {{ producto_sugerido.num_usuarios }}
                                {% endfor %}
                                </tbody>
                            </table>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
    </section>

{% endblock %}
{% block scripts %}
    <script src="{% static 'Administrador/scripts.js' %}"></script>

{% endblock %}
{% block styles %}
    <link href="{% static 'Administrador/styles.css' %}" rel="stylesheet">

{% endblock %}