{% extends 'MarketPlace/_common/base.html' %}
{% load static %}
{% block main %}
        <link href="{% static '/theme/css/style_productor.css' %}" rel="stylesheet">
        <section>
            <div id="mainCrearOferta">
                <div id="migaPan">
                    <ul class="breadcrumb">
                      <li><a href="#">Productor</a></li>
                      <li>Realizar una oferta semanal</li>
                    </ul>
                </div>
                <div id="headerCrearOferta">
                    <p style="margin-bottom: 0px;">
                        Lista de Productos:
                    </p>
                    <button id="agregarProducto" type="button" class="btn btn-primary" style="float: right;">Agregar un Producto</button>
                </div>
                <div id="tablaOferta">
                    <table class="table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>Total Produtos</th>
                            <th>Acciones</th>
                          </tr>
                        </thead>
                        <tbody id="listaProductos">
                        </tbody>
                    </table>
                </div>
                <div class="botonesSuccess">
                    <button type="button" class="btn btn-success" onclick="realizarOferta();" style="width: 145px;">Realizar la oferta</button>
                </div>
            </div>
            <div id="sectionAgregarProducto">
                <div id="popUpAgregarProducto">
                    <div id="headerPopUp" class="seccion" style="height: 43px;">
                        <a id="cerrarPopUpAgregarProducto" class="close-btn popup-close">x</a>
                    </div>

                    <div id="seccionCategoria" class="seccionPopUp" style="height: 60px;">
                        <strong class="strongPopUp">Categoria</strong>
                        <select id="selectCategoria" class="form-control inputPopUp">
                        </select>
                    </div>

                    <div id="seccionProducto" class="seccionPopUp" style="height: 60px;">
                        <strong class="strongPopUp">Producto</strong>
                        <select id="selectProductos" class="form-control inputPopUp">
                        </select>
                    </div>

                    <div id="seccionCantidad" class="seccionPopUp" style="height: 70px;">
                        <strong class="strongPopUp">Ingresar la cantidad del producto a ofertar</strong>
                        <div class="inputPopUp">
                            <input type="text" id="cantidadProductoOfertar" class="form-control">
                        </div>
                    </div>

                    <div id="seccionCantidad" class="seccionPopUp" style="height: 110px;">
                        <strong class="strongPopUp">Ingresar el precio del producto a ofertar</strong>
                        <div class="inputPopUp">
                            <spam style="float: left;">$</spam>
                            <input id="precioProductoOfertar" style="width: 50%; float: left; margin-left: 15%;" type="text" class="form-control">
                            <span style="float: right;"   > /    <span id="campoUnidad">Unidad</span></span>
                        </div>
                    </div>
                    <div id="buttonPopUp" style="width: 100%;">
                        <button id="botonAgregarProducto" type="button" class="btn btn-success" style="width: 145px;" onclick="agregarProducto();">Agregar Producto</button>
                        <button id="botonEditarProducto" type="button" class="btn btn-success" style="width: 145px; display: none;" >Editar Producto</button>
                    </div>
                </div>
            </div>
        </section>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{% static  '/js/crear-oferta.js' %}"></script>
{% endblock %}