{% extends 'Productor/_common/general-base.html' %}

{% block page %}
    <div class="page login-page">
        <div class="container">
            <div class="form-outer text-center d-flex align-items-center">
                <div class="form-inner">
                    {% include 'MarketPlace/_common/_messages.html' %}
                    <div class="logo text-uppercase">
                        <span>Green</span> <strong class="text-primary">Market</strong>
                        <br/>
                    </div>
                    <h5 class="text-secondary">Productores</h5>
                    <p>Ingresa a Green Market para que puedas realizar ofertas de tus productos y puedas ver como van tus productos esta semanana</p>

                    <form action="{% url 'administrador:ingresar' %}" id="login-form" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="login-username" class="label-custom">Correo electrónico</label>
                            <input id="login-username" type="email" name="username" required>
                        </div>
                        <div class="form-group">
                            <label for="login-password" class="label-custom">Contraseña</label>
                            <input id="login-password" type="password" name="password" required>
                        </div>
                        <button id="login" class="btn btn-primary">Ingresar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}