{% extends 'Productor/_common/base.html' %}
{% load static %}
{% block main %}
    <link href="{% static '/theme/css/style_productor.css' %}" rel="stylesheet">
    <section>
        <div id="migaPan">
            <ul class="breadcrumb">
              <li><a href="#">Productor</a></li>
              <li>Ver productos vendidos</li>
            </ul>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="text-center">
                        <h1 class="text-center">Productos vendidos</h1>
                        <h2>{{ subtitulo }}</h2>
                    </div>

                </div>
            </div>
            <br>
            <br>
            <div class="row" id="tablaOferta" style="width: 80%">
                <table class="table table-responsive table-bordered">
                    <thead>
                        <tr>
                           <th class="text-white text-center" bgcolor="#228b22" colspan="6">
                            Productos vendidos
                           </th>
                        </tr>
                        <tr bgcolor="#dbeb887">
                            <th class="text-center">Producto</th>
                            <th class="text-center">Can. Vendida</th>
                            <th class="text-center">Can. Disponible</th>
                            <th class="text-center">Can. Total</th>
                            <th class="text-center">Precio/Unidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in ofertas_pro %}
                            <tr>
                                <td>{{ item.fk_producto__nombre }}</td>
                                <td>{{ item.cantidad_vendida }}</td>
                                <td>{{ item.cantidad_disponible}}</td>
                                <td>{{ item.cantidad_aceptada }}</td>
                                <td>{{ item.precioProvedor }} /{{ item.fk_producto__unidad_medida }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </section>
{% endblock %}
