<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title text-center">Seleccione una cooperativa </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <table  class="table table-responsive" cellspacing="2" style="width: 80%"
                       border="1"
                       align="center">
                    <thead>
                        <tr>
                            <th colspan="4" bgcolor="#228b22" class="text-white text-center">Cooperativas</th>
                        </tr>
                        <tr bgcolor="#deb887">
                            <th class="text-center">Id</th>
                            <th class="text-center">Nomnbre</th>
                            <th class="text-center">Ciudad</th>
                            <th class="text-center"></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in cooperativas_mod %}
                        <tr>
                            <td class="text-center">
                                {{ item.id }}
                            </td>
                            <td class="text-right">
                                {{ item.nombre }}
                            </td>
                            <td class="text-center">
                                {{ item.ciudad }}
                            </td>
                            <td>
                                <button type="button" class="btn btn-info" name="{{pedido.id}}"  onclick="clicCooperativa({{ item.id }})">Seleccionar</button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary cerrarModalCoop " data-dismiss="modal">Volver</button>
        </div>
    </div>
</div>