<div class="card">
    <img class="card-img-top img-fluid mx-auto d-block" src="https://placehold.it/50x50" alt="Card image cap">
    <div class="card-body">
        <h4 class="card-title text-center">Producto</h4>

        <p class="card-text">$ 1234.12</p>
        <div class="form-group row">
            <label class="col-5 col-form-label">Cantidad</label>
            <div class="col-7">
                <div class="input-group input-group-sm">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" disabled>
                        <i class="fa fa-minus-circle"></i>
                    </button>
                </span>
                <input name="quantity" class="form-control" type="number" min="0" step="1" pattern="\d*">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-success product-plus">
                            <i class="fa fa-plus-circle"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>