{% extends 'MarketPlace/_common/base.html' %}
{% load static %}
{% block main %}
        <link href="{% static '/theme/css/style_productor.css' %}" rel="stylesheet">
        <section>
            <div id="mainCrearOferta">
                <div id="migaPan">
                    <ul class="breadcrumb">
                      <li><a href="#">Productor</a></li>
                      <li>Realizar una oferta semanal</li>
                    </ul>
                </div>
                <div id="headerCrearOferta">
                    <p style="margin-bottom: 0px;">
                        Lista de Productos:
                    </p>
                    <button type="button" class="btn btn-primary" style="float: right;">Agregar un Producto</button>
                </div>
                <div id="tablaOferta">
                    <table class="table table-hover table-bordered">
                        <thead>
                          <tr>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Email</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>John</td>
                            <td>Doe</td>
                            <td>john@example.com</td>
                          </tr>
                          <tr>
                            <td>Mary</td>
                            <td>Moe</td>
                            <td>mary@example.com</td>
                          </tr>
                          <tr>
                            <td>July</td>
                            <td>Dooley</td>
                            <td>july@example.com</td>
                          </tr>
                        </tbody>
                    </table>
                </div>
                <div class="botonesSuccess">
                    <button type="button" class="btn btn-success" style="width: 145px;">Realizar la oferta</button>
                </div>
            </div>
            <div id="sectionAgregarProducto">
                <div id="popUpAgregarProducto">
                    <div id="headerPopUp" class="seccion" style="height: 43px;">
                        <a class="close-btn popup-close">x</a>
                    </div>

                    <div id="seccionCategoria" class="seccionPopUp" style="height: 60px;">
                        <strong class="strongPopUp">Categoria</strong>
                        <select class="form-control inputPopUp">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>

                    <div id="seccionProducto" class="seccionPopUp" style="height: 60px;">
                        <strong class="strongPopUp">Producto</strong>
                        <select class="form-control inputPopUp">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                        </select>
                    </div>

                    <div id="seccionCantidad" class="seccionPopUp" style="height: 110px;">
                        <strong class="strongPopUp">Ingresar la cantidad del producto a ofertar</strong>
                        <div class="inputPopUp">
                            <spam style="float: left;">$</spam>
                            <input style="width: 50%; float: left; margin-left: 15%;" type="text" class="form-control">
                            <span style="float: right;"   > /   Unidad</span>
                        </div>
                    </div>
                    <div id="buttonPopUp" style="width: 100%;">
                        <button type="button" class="btn btn-success" style="width: 145px;">Realizar la oferta</button>
                    </div>
                </div>
            </div>
        </section>
    <script src="{% static  '/js/crear-oferta.js' %}"></script>
{% endblock %}